<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<%= link_to 'Edit', edit_cookbook_recipe_path(cookbook_id: @recipe.cookbook_id) %> |
<%= link_to 'Back', cookbook_recipes_path %>
