<nav id="side-nav">
  <ul>
    <% @cookbooks.each do |cookbook| %>
    <li><strong><%= cookbook.name.capitalize %></strong></li>
      <% cookbook.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, {controller: 'designer', action: 'resources', recipe_id: recipe.id}, remote: true %></li>
      <% end %>
    <% end %>
  </ul>
</nav>
