<nav id="side-nav">
  <ul>
    <li><%= link_to 'Cookbook', {controller: 'designer', action: 'resources'} %></li>
    <li><%= link_to 'Cookbooks', cookbooks_path %></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contacts</a></li>
  </ul>
</nav>
