//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
//= require_tree .
//= require_self
//


// Below are some defaults to rely on initially

$font-stack: Hevetica, sans-serif;
$primary-color: #26343F;
$secondary-color: #3B4B54;
$tertiary-color: #4D636F;

body {
  padding: 0;
  margin: 0;
  font: 100% $font-stack;
  color: #FFFFFF;
  background-color: $primary-color;
}

a {
  color: #5AAAFA;
  text-decoration: none;
}

nav#top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #0E212A;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  li a:hover {
    background-color: $secondary-color;
  }
  .active {
    padding: 14px 16px;
    display: block;
    text-align: center;
    background-color: $primary-color;
  }
}

nav#side-nav {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    overflow: hidden;
    width: 200px;
    border: 3px solid $secondary-color;
  }
  li {
  }
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  li a:hover {
    background-color: $secondary-color;
  }
}

nav {
  margin: 0;
  padding: 0;
  height: 100%;
}
table {
  margin-top: 20px;
  margin-bottom: 40px;
  border-collapse: collapse;
  width: 100%;
  th, td {
    border-bottom: 1px solid #ddd;
  }
  tr:nth-child(even) { background-color: $secondary-color}
}

div.main_content {
  padding: 15px;
  position: relative;
  top: 50px;
  left: 200px;
}

div.admin_content {
  padding: 15px;
  position: relative;
  top: 50px;
}

/* footer */

footer {
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: #0E212A;
  padding: 10px 5px;
  width: 100%;
}

footer a {
  color: $secondary-color;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

form {
  max-width: 600px;
  margin: 50px auto;
  label {
    width: 100px;
    text-align: right;
    float: left;
    font-weight: bold;
    padding-right: 15px;
    margin-bottom: 2px;
  }
  input {
    width: 300px;
    float: left;
    margin-bottom: 2px;
  }
  fieldset {
    margin-bottom: 10px;
  }
  div.field {
    clear: both;
    padding: 5px;
  }
  div.btn input {
    float: left;
    clear: both;
    width: auto;
  }

}
