//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
//= require_tree .
//= require_self
//

@import "font-awesome-sprockets";
@import "font-awesome";

// Below are some defaults to rely on initially

$font-stack: Hevetica, sans-serif;
$primary-color: #26343F;
$secondary-color: #3B4B54;
$tertiary-color: #4D636F;

body {
  padding: 0;
  margin: 0;
  font: 100% $font-stack;
  color: #FFFFFF;
  background-color: $primary-color;
}

a {
  color: #5AAAFA;
  text-decoration: none;
}

nav#top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #0E212A;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  li a:hover {
    background-color: $secondary-color;
  }
  .active {
    padding: 14px 16px;
    display: block;
    text-align: center;
    background-color: $primary-color;
  }
}

nav#side-nav {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    overflow: hidden;
    width: 250px;
  }
  li {
    margin-bottom: 2px;
  }
  li.recipe {
    margin-top: 10px;
  }
//   li a {
//     display: block;
//     text-align: center;
//     text-decoration: none;
//   }
//   li a:hover {
//     background-color: $secondary-color;
//   }
}

nav {
  margin: 0;
  padding: 0;
  height: 100%;
}
table {
  margin-top: 20px;
  margin-bottom: 40px;
  border-collapse: collapse;
  width: 100%;
  th, td {
    border-bottom: 1px solid #ddd;
  }
  tr:nth-child(even) { background-color: $secondary-color}
}

div.main_content {
  padding: 15px;
  position: relative;
  top: 50px;
  left: 250px;
}

div.admin_content {
  padding: 15px;
  position: relative;
  top: 50px;
}

/* footer */

footer {
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: #0E212A;
  padding: 10px 5px;
  width: 100%;
}

footer a {
  color: $secondary-color;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

form {
  // background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  // background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  // background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: #26343F;
  // margin: auto;
  // position: relative;
  // width: 550px;
  height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  // border-radius: 10px;
  padding: 10px;
  // border: 1px solid #999;
  // border: inset 1px solid #333;
  // -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  // -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  // box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea:focus, input:focus {
  border: 1px solid #09C;
}

input.button:hover {
  background: #fff;
  color: #09C;
}

.submit-button input{
  margin: 5px 0px 5px 0px;
  width: 125px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 5px;
}

div.field {
  padding: 3px;
}

add#property#btn {

}
  // <legend>Properties</legend>
  // <span id="error property btn"></span>
  // <button id="add property btn" type="button" name="add property">Add Property</button>
  // <input id="add property field" type="text" name="add property name">
  // <div id="form properties">
  //   <%= f.fields_for :properties, OpenStruct.new(f.object.properties || {}) do |f2| %>
  //     <% @resource.properties.each do |key, value| %>
  //     <div class="field">
  //       <%= f2.label key %>
  //       <%= f2.text_field key %>
  //       <button type="button" name="delete_button" class="delete_button">Delete</button>
// form {
// //   max-width: 600px;
//   margin: 50px auto;
//   label {
//     width: 100px;
//     float: left;
//     font-weight: bold;
//     padding-right: 15px;
//     margin-bottom: 2px;
//   }
//   input {
//     width: 300px;
//     float: right;
//     margin-bottom: 2px;
//   }
// //   fieldset {
// //     margin-bottom: 10px;
// //   }
// //   div.btn input {
// //     float: left;
// //     clear: both;
// //     width: auto;
// //   }
//
// }
