  <nav id="top-nav">
    <ul>
      <li><%= nav_link('Designer', designer_path)  %></li>
      <li><%= nav_link('Cookbooks', cookbooks_path) %></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </nav>
